<div class="container" style="width: 700px;">
  <h1>New Game</h1>
    <div class="flex-row d-flex mt-3 justify-content-between">
      <% @letters.each do |letter| %>
        <div class="card card-color">
          <div class="card-body">
          <%= letter.upcase %>
        </div>
      </div>
      <% end %>
    </div>

<%# <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="question">
      </div>
      <div class="col">
        <input class="btn btn-primary" type="submit" value="Ask!">
      </div>
    </div> %>

  <div class="flex-row d-flex mt-3">
    <p>What is the longest word you can find?</p>
  </div>

    <div class="d-flex mt-3 justify-content-between">
      <form action="/score" method="post" data-turbo="false">
          <%= hidden_field_tag :letters, @letters %>
        <input type="text" class="form-control" name="word">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input class="btn btn-primary" type="submit" value="Play">
      </form>
    </div>
</div>
