<div class="container" style="width: 700px;">
  <h1>Results</h1>
</div>

<%# <%= hidden_field_tag params:word, submitted_word %>
<h2><%= params[:letters] %></h2>
<h2><%= raw(@result[:message]) %></h2>
